<div class="row">
	<div id="head-section">
		<div id="video-title">
			<h1>宝宝也是哲学家</h1>
			<%= link_to("现在加入", new_user_registration_path, class: "btn btn-lg btn-danger") %>
		</div>
		<video autoplay="" loop="" muted="" style="width: 100%;">
			<source src="http://7xss15.com1.z0.glb.clouddn.com/landing_page_video.mp4" type="video/mp4">
		</video>
	</div>
	<div id="content-section-1">
		<div class="content-1">
			<div class="group">
				<h2>把宝宝当成老师，你准备好了吗？</h2>
				<div class="short-line"></div>
			</div>
			<p>在这里，我们研究爱，交流爱，学习爱，宝宝会用他的方式告诉你：什么是生命中最美丽的馈赠。放下你自以为对这个世界更了解的虚荣，为孩子创造一个环境，然后坐下来好好学习吧！</p>
			<img src="http://7xss15.com1.z0.glb.clouddn.com/2017-05-12-content_1_image.png" alt="So many happy kids">
		</div>
	</div>
	<div id="content-section-2">
		<div class="content-2 clearfix">
			<div class="feature-title">
				<h2>挑战传统育儿观念，看宝宝如何改变世界</h2>
				<div class="short-line"></div>
			</div>
			<div class="feature-block">
				<%= image_tag("feature1.png") %>
				<br>
				<h3>一次学会爱的旅途</h3>
				<p>在我们的一步步引导下，你会逐渐领悟到，并不是你去教会宝宝如何去感受世界，而是宝宝来教会你，该如何交流情感，如何去表达爱。</p>
			</div>
			<div class="feature-block">
				<%= image_tag("feature2.png") %>
				<br>
				<h3>一次发现美的历程</h3>
				<p>在这里我们不是老师，我们是服装设计师，为宝宝设计前卫服装，让宝宝成长在艺术的氛围之中，我们是探险家，用心去探寻宝宝的美丽心灵，让宝宝美的不可方物。</p>
			</div>
			<div class="feature-block">
				<%= image_tag("feature3.png") %>
				<br>
				<h3>一次净化心灵的选择</h3>
				<p>伴宝宝成长不仅有助于我们理解思维如何运作，也帮助我们理解人类处境和爱之本质，十年的时间，进行一次关乎“我如何成为我”的心灵洗礼。</p>
			</div>
		</div>
		<br>
	</div>
	<div id="content-section-3" >
		<div class="content-3 clearfix">
			<div class="group">
				<h2>听听她们怎么说</h2>
				<div class="short-line"></div>
			</div>
			<div class="customer-block-left">
				<div class="top">
					<div class="img">
						<%= image_tag("chenxin.png") %>
					</div>
					<div class="name">
						<span>陈忻</span>
						<p>美国康涅迪格大学心理学博士</p>
					</div>
				</div>
				<div class="talk">
						养育孩子是我们生命中意义最深远的经历，孩子们确实让我们看到了真理、美和意义。
				</div>
			</div>
			<div class="customer-block-right">
				<div class="top">
					<div class="img">
						<%= image_tag("AlfieKohn.png") %>
					</div>
					<div class="name">
						<span>Alfie Kohn</span>
						<p>无条件养育作者</p>
					</div>
				</div>
				<div class="talk">
						这很难，但值得我们全力以赴。
				</div>
			</div>
		</div>
	</div>
	<div id="content-section-bottom">
		<div class="bottom-content">
			<p>现在预约可免费体验5节课</p>
			<%= link_to("现在加入", new_user_registration_path, class: "btn btn-danger btn-lg") %>
		</div>
	</div>

</div>

