<div class="row">
	<div id="head-section">
		<div id="video-title">
			<h1>宝宝也是哲学家</h1>
			<%= link_to("现在加入", '#', class: "btn btn-lg btn-danger") %>
		</div>
		<video autoplay="" loop="" muted="">
			<source src="http://7xss15.com1.z0.glb.clouddn.com/landing_page_video.mp4" type="video/mp4">
		</video>
	</div>
	<div id="content-section-1">
		<div class="content-1">
			<div class="group">
				<h2>把宝宝当成老师，你准备好了吗？</h2>
				<div class="short-line"></div>
			</div>
			<p>在这里，我们研究爱，交流爱，学习爱，宝宝会用他的方式告诉你：什么是生命中最美丽的馈赠。放下你自以为对这个世界更了解的虚荣，为孩子创造一个环境，然后坐下来好好学习吧！</p>
			<img src="http://7xss15.com1.z0.glb.clouddn.com/2017-05-12-content_1_image.png" alt="So many happy kids">
		</div>
	</div>
	<div id="content-section-2">
		<div class="content-2 clearfix">
			<div class="feature-title">
				<h2>挑战传统育儿观念，看宝宝如何改变世界</h2>
				<div class="short-line"></div>
			</div>
			<div class="feature-block">
				<%= image_tag("feature1.png") %>
				<br>
				<h3>一次学会爱的旅途</h3>
				<p>与交流沟通祥光的文字</p>
			</div>
			<div class="feature-block">
				<%= image_tag("feature2.png") %>
				<br>
				<h3>一次发现美的历程</h3>
				<p>与穿衣打扮相关的文字</p>
			</div>
			<div class="feature-block">
				<%= image_tag("feature3.png") %>
				<br>
				<h3>一次净化心灵的选择</h3>
				<p>与课程与哲思相关的文字</p>
			</div>
		</div>
	</div>
	<div id="content-section-3" >
		<div class="content-3 clearfix">
			<div class="group">
				<h2>听听她们怎么说</h2>
				<div class="short-line"></div>
			</div>
			<div class="customer-block-left">
				<div class="top">
					<div class="img">
						<%= image_tag("boy.png") %>
					</div>
					<div class="name">
						<span>Xdite老师</span>
						<p>积极心理学家</p>
					</div>
				</div>
				<div class="talk">
						养育孩子是我们生命中意义最深远的经历，孩子们确实让我们看到了真理、美和意义。
				</div>
			</div>
			<div class="customer-block-right">
				<div class="top">
					<div class="img">
						<%= image_tag("boy.png") %>
					</div>
					<div class="name">
						<span>Xdite老师</span>
						<p>积极心理学家</p>
					</div>
				</div>
				<div class="talk">
						养育孩子是我们生命中意义最深远的经历，孩子们确实让我们看到了真理、美和意义。
				</div>
			</div>
		</div>
	</div>
	<div id="content-section-bottom">
		<div class="bottom-content">
			<p>现在预约可免费体验5节课</p>
			<%= link_to("现在加入", '#', class: "btn btn-danger btn-lg") %>
		</div>
	</div>

</div>



<!-- <div class="card-container home loaded">
	<div>
		<div>
			<div class="frame top"><div></div></div>
			<div class="frame right"><div></div></div>
			<div class="frame bottom"><div></div></div>
			<div class="frame left"><div></div></div>
			
			<div class="content">
									<h2>
						<a href="/" class="logo">Jova</a>
						<div class="border bottom"><div></div></div>
					</h2>
					<h3>
						<span class="left">Construction</span>
						<span class="right">Renovation</span>
						<div class="border bottom"><div></div></div>
					</h3>

					<ul class="menu">
						<li class="hover-effect-1">
							<a href="portfolio">
								<span class="effect" data-hover="Portfolio">
									<span class="small">Latest Work</span>
									<span class="big">
										<span>Portfolio</span>
									</span>
								</span>
							</a>
							<div class="border right"><div></div></div>
						</li>
						<li class="hover-effect-1">
							<a href="about-us">
								<span class="effect" data-hover="Jova">
									<span class="small">About</span>
									<span class="big">
										<span>Jova</span>
									</span>
								</span>
							</a>
							<div class="border right"><div></div></div>
						</li>
						<li class="hover-effect-1">
							<a href="contact-us">
								<span class="effect" data-hover="Contact Us">
									<span class="small">Coordinates</span>
									<span class="big">
										<span>Contact Us</span>
									</span>
								</span>
							</a>
						</li>
						<li class="hover-effect-1">
							<a href="services-offered">
								<span class="effect" data-hover="Services Offered">
									<span class="small">List of</span>
									<span class="big">
										<span>Services Offered</span>
									</span>
								</span>
							</a>
							<div class="border right"><div></div></div>
							<div class="border top"><div></div></div>
						</li>
						<li class="hover-effect-1">
							<a href="tips-and-tricks">
								<span class="effect" data-hover="Tips and Tricks">
									<span class="small">Good to know</span>
									<span class="big">
										<span>Tips and Tricks</span>
									</span>
								</span>
							</a>
							<div class="border top"><div></div></div>
						</li>
					</ul>

					<a href="" class="btn-previous">
						<span class="small">Prev.</span>
						<div class="border right"><div></div></div>
					</a>
					<a href="" class="btn-next">
						<span class="small">Next</span>
						<div class="border left"><div></div></div>
					</a>
							</div>
		</div>
	</div>
</div>
 -->