<h2> New Product </h2>

<%# if false %>

<%= render :partial => "form", :locals => { product: @product } %>

<%# end %>

<% if false %>
<%= form_for [:admin, @product] do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :price %>
		<%= f.text_field :price, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label t("product.gender") %>
		<%= f.collection_select :category_id, dress_category.children, :id, :name, :class => "form-control", :id => "product_gender_id" %>
	</div>

	<div class="form-group">
		<%= f.label :category_id %>
		<%= f.grouped_collection_select :category_id, dress_category.children, :children, :name, :id, :name, include_blank: true %>
	</div>

	<div class="form-group">
		<%= f.file_field :image, :multiple => true, name: "photos[image][]" %>
	</div>

	<div class="form-group">
		<%= f.label :friendly_id %>
		<%= f.text_field :friendly_id, :required => true, :class => "form-control" %>
		<p>限消协英数字及横线，将作为网址的一部分</p>
	</div>

	<%= render :partial => "variants_form", :locals => { f: f } %>

	<%= f.submit "Submit", data: {disable_with: "Submiting..."} %>

<% end %>
<% end %>
