
<div class="shop-container">
	<% if @current_gender_category.name == "男" %>
		<div class="shop-header">
				<%= link_to(products_path(type: girl_category)) do %>
					<%= image_tag("girls-gray.png") %>
				<% end %>

				<%= link_to(products_path(type: boy_category)) do %>
					<%= image_tag("boys.png", class: "") %>
				<% end %>
				
			    <h1>男娃娃</h1>
		</div>

		<ul class="nav nav-pills shop-header-list" style="display: inline-block;">
	 		<ul id="shopping-season-nav">
				<li><%= link_to("2017当季新品", "#") %></li>
				<li><%= link_to("2016清仓打折（-50% 买一送一）", "#") %></li>
			</ul>
			<% boy_category.leaves.each do |category| %>
				<li class="<%= "active" if @category == category %>">
					<%= link_to(category.name, products_path(type: category)) %>		
				</li>
			<% end %>
		</ul>
	<% else %>
		<div class="shop-header">
	    	<%= link_to(products_path(type: girl_category)) do %>
				<%= image_tag("girls.png") %>
			<% end %>

			<%= link_to(products_path(type: boy_category)) do %>
				<%= image_tag("boys-gray.png", class: "") %>
			<% end %>
			
		    <h1>女娃娃</h1>
	    </div>

		<ul class="nav nav-pills shop-header-list" style="display: inline-block;">
	 		<ul id="shopping-season-nav">
				<li><%= link_to("2017当季新品", "#") %></li>
				<li><%= link_to("2016清仓打折（-50% 买一送一）", "#") %></li>
			</ul>
			<% girl_category.leaves.each do |category| %>
				<li class="<%= "active" if @category == category %> ">
					<%= link_to(category.name, products_path(type: category)) %>		
				</li>
			<% end %>
		</ul>
	<% end %>
</div>

