<%= render :partial => "shop_header" %>

<div class="product-container">
	<div class="col-md-6 product-images">
		<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
	        <div class='carousel-inner'>
				<% if @photos.present? %>
					<% @photos.each_with_index do |photo, index| %>
						<% if index == 0 %>
							<%= image_tag(photo.image.medium.url, class: "item active") %>
						<% else %>
							<%= image_tag(photo.image.medium.url, class: "item") %>
						<% end %>
					<% end %>
				<% else %>
					<%= image_tag("http://placehold.it/400x510&text=No Pic", class: "item") %>
				<% end %>
	        </div>

	        <ol class='carousel-indicators mCustomScrollbar meartlab'>
	        	<% if @photos.present? %>
	        		<% @photos.each_with_index do |photo, index| %>
	        			<% if photo.image.present? %>
	        				<% if index == 0 %>
								<li data-target="#carousel-custom" data-slide-to="<%= index %>" class="active">
		        					<%= image_tag(photo.image.small.url) %>
		        				</li>
	        				<% else %>
	        					<li data-target="#carousel-custom" data-slide-to="<%= index %>">
		        					<%= image_tag(photo.image.small.url) %>
		        				</li>
	        				<% end %>

	        			<% else %>
	        				<%= image_tag("http://placehold.it/400x400&text=No Pic") %>
	        			<% end %>
	        		<% end %>

				<% else %>
					<%= image_tag("http://placehold.it/400x400&text=No Pic") %>
				<% end %>
	    	</ol>
		</div>

	</div>
	<div class="col-md-6" id="product-detail-group">
		<h2><%= @product.title %></h2>
		<div class="product price"> $ <%= @product.price %></div>
		<div style="height: 100px;">
			<p>
				<%= @product.description %>
			</p>
		</div>
		<%= fa_icon "heart-o" %> 21
		<%#= form_for cart_item, url: cart_item_path(cart_item.product_id), html: {id: "cart-index-form"} do |f| %>
			<%#= f.select :quantity, 1..cart_item.product.quantity %>
			<%#= f.submit "更新", data: { disable_with: "Submiting..." } %>
		<%# end %>
		<%= form_for @product, url: product_path(@product) do |f| %>
			<%= f.fields_for :variants, html: { id: "variant-form" } do |ff| %>
				<fieldset style="border-left: 5px solid #bbb; margin-bottom: 10px; padding: 10px;">
					<legend>varaint</legend>
					<div class="form-group">
						<%= ff.label :color %>
						<% @colors.each do |c| %>
							<label>
								<%= ff.radio_button :color, c %>
								<%= c %>
							</label>
						<% end %>
						<%#= ff.input :color, :class => "form-control" %>
						<%#= f.input :category_id, collection: dress_category.leaves %>
					</div>

					<div class="form-group">
						<%= ff.label :size %>
						<%= ff.text_field :size, :class => "form-control" %>
					</div>

				</fieldset>
			<% end %>
			
			<div class="form-group">
				<%= f.submit "Update", :class => "btn btn-primary" %>
			</div>
		<% end %>
		<div class="form-group">
			<label for="sel1"><%= t("product.color") %></label>
			<select id="sel1" class="form-control">
				<option>灰色</option>
				<option>红色</option>
				<option>黄色</option>
				<option>蓝色</option>
				<option>紫色</option>
			</select>

			<label for="sel2"><%= t("prodcut.size") %></label>
			<select id="sel2" class="form-control">
				<option>1岁 - 100元</option>
				<option>2岁 - 200元</option>
				<option>3岁 - 230元</option>
				<option>4岁 - 260元</option>
				<option>5岁 - 260元</option>
			</select>

			<label for="sel3"><%= t("product.quantity") %></label>
			<select id="sel3" class="form-control">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
		
		<%# if @product.quantity.present? && @product.quantity > 0 %>
			<%= form_tag add_to_cart_product_path(@product), method: :post do %>

				<% @colors.each do |c| %>
					<label>
						<%= radio_button_tag :color, c %>
						<%= c %>
					</label>
				<% end %>

				<div class="form-group">
					<%= label_tag :size %>
					<%= select_tag :size,  options_for_select(@sizes, @sizes.first)%>
				</div>

				<div class="form-group">
					<!-- <input type="text" name="quantity" value="1" id="quantity-input" class="quantity-input"> -->
					<%= text_field_tag :quantity , 1%>
				</div>

				<button class="btn btn-danger btn-lg" type="submit">加入购物车</button>
			<% end %>
			<%#= link_to(t("product.add_to_cart"), add_to_cart_product_path(@product), method: :post, class: "btn btn-danger btn-lg") %>
		<%# else %>
			已销售一空，无法购买
		<%# end %>
		<br>
		<br>
		<a href="#"><%= t("product.add_to_favor") %></a>
	</div>
</div>

<div class="col-md-12 row" style="display: block;" id="customer-review-group">
	<h2 style="align:"><%= t("product.review") %>(0)</h2>
	<div class="pull-right">
		<%= link_to(t("product.post_review"), "#", class: "btn btn-default") %>
	</div>
</div>

<!-- <div class="row">
	<h2>你也许喜欢</h2>

</div> -->



=
