<%= render :partial => "shop_header" %>

<div class="product-container">
	<div class="col-md-6 product-images">
		<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
	        <div class='carousel-inner'>
				<% if @photos.present? %>
					<% @photos.each_with_index do |photo, index| %>
						<% if index == 0 %>
							<%= image_tag(photo.image.medium.url, class: "item active") %>
						<% else %>
							<%= image_tag(photo.image.medium.url, class: "item") %>
						<% end %>
					<% end %>
				<% else %>
					<%= image_tag("http://placehold.it/400x510&text=No Pic", class: "item") %>
				<% end %>
	        </div>

	        <ol class='carousel-indicators mCustomScrollbar meartlab'>
	        	<% if @photos.present? %>
	        		<% @photos.each_with_index do |photo, index| %>
	        			<% if photo.image.present? %>
	        				<% if index == 0 %>
								<li data-target="#carousel-custom" data-slide-to="<%= index %>" class="active">
		        					<%= image_tag(photo.image.small.url) %>
		        				</li>
	        				<% else %>
	        					<li data-target="#carousel-custom" data-slide-to="<%= index %>">
		        					<%= image_tag(photo.image.small.url) %>
		        				</li>
	        				<% end %>

	        			<% else %>
	        				<%= image_tag("http://placehold.it/400x400&text=No Pic") %>
	        			<% end %>
	        		<% end %>

				<% else %>
					<%= image_tag("http://placehold.it/400x400&text=No Pic") %>
				<% end %>
	    	</ol>
		</div>

	</div>
	<div class="col-md-6" id="product-detail-group">
		<h2><%= @product.title %></h2>
		<h3 class="product-price"> $ <%= @product.price %></h3>
		<div style="height: 100px;">
			<p>
				<%= @product.description %>
			</p>
		</div>
		<%= fa_icon "heart-o" %> 21
		
		<%# if @product.quantity.present? && @product.quantity > 0 %>
			<%= form_tag add_to_cart_product_path(@product), method: :post do %>

				<div class="form-group">
					<%= label_tag :color, t("product.color") %>
					<%= select_tag :color, options_for_select(@colors), :data => { :url => select_color_product_path(@product) }, :id => "toggle-select-color", :prompt => "请选择颜色", class: "form-control" %>
				</div>

				<div class="form-group">
					<%= label_tag :size, t("product.size") %>
					<%= select_tag :size,  options_for_select(@sizes), :data => { :url => select_color_product_path(@product) }, :id => "toggle-select-size", :prompt => "选择尺寸", class: "form-control"%>
				</div>

				<div class="form-group">
					<h3>库存:</h3>
					<span id="variant-current-quantity"><%= @current_quantity %></span>
				</div>

				<button class="btn btn-danger btn-lg btn-radius-custom" type="submit">加入购物车</button>

				<div class="btn-radius-custom" id="product-quantity-select">
						<%#= link_to("-", '#', class: "", id: "quantity-minus") %>
						<button type="button" id= "quantity-minus">-</button>
						<%= text_field_tag :quantity , 1%>
						<button type="button" id="quantity-plus">+</button>
						<%#= link_to("+", '#', class: "", id: "quantity-plus") %>
				</div>
			<% end %>
			<%#= link_to(t("product.add_to_cart"), add_to_cart_product_path(@product), method: :post, class: "btn btn-danger btn-lg") %>
		<%# else %>
			已销售一空，无法购买
		<%# end %>
		<br>
		<br>
		<a href="#"><%= t("product.add_to_favor") %></a>
	</div>
</div>

<div class="col-md-12 row" style="display: block;" id="customer-review-group">
	<h2 style="align:"><%= t("product.review") %>(0)</h2>
	<div class="pull-right">
		<%= link_to(t("product.post_review"), "#", class: "btn btn-default") %>
	</div>
</div>

<!-- <div class="row">
	<h2>你也许喜欢</h2>

</div> -->


<script>
	$("#toggle-select-color").on('change', function(){
		console.log("1111");
		var url = $(this).data("url");
		console.log(url);
		$.ajax({
			url: url,
			method: "POST",
			dataType: "json",
			data: {
				color: $(this).val(),
				// size: $("#toggle-select-size").val()
				size: ""
			},
			success: function(data){
				console.log(data["current_quantity"])
				$("#variant-current-quantity").html(data["current_quantity"]);

				if (data["has_many"]) {
					console.log("酷酷的有很多")
					// $("#product-price")
				} else {
					console.log("酷酷的唯一")
				}

				var colors = data["colors"];
				var sizes = data["sizes"];
				var current_color = data["current_color"];
				var current_size = data["current_size"];
				$("#toggle-select-color").children().each(function(index){

					$(this).prop("disabled", false);

					if ($(this).val() != "" && $(this).val() == current_color) {
						$(this).replaceWith('<option selected="selected" value=' + current_color + '>' + current_color + '</option>');
					}

					var results = colors.indexOf($(this).val());

					console.log( index + $(this).val());

					if (index != 0 && results == -1) {
						$(this).attr('disabled', 'disabled');
					}

				});

				$("#toggle-select-size").children().each(function(index){

					$(this).prop("disabled", false);

					if ($(this).val() == "") {
						$(this).replaceWith('<option selected="selected" value="">选择尺寸</option>');
					}

					// if ($(this).val() != "" && $(this).val() == current_size) {
					// 	$(this).replaceWith('<option selected="selected" value=' + current_size + '>' + current_size + '</option>');
					// }

					var results = sizes.indexOf($(this).val());

					if (index != 0 && results == -1) {
						$(this).attr('disabled', 'disabled');
					}
				});
				// $("#toggle-select-color").html("<%#= escape_javascript options_for_select( + colors + ) %>");
				// $("#toggle-select-size").html("<%#=j options_for_select('sizes') %>");
			}
		});

	});

	$("#toggle-select-size").on('change', function(){
		console.log("1111");
		var url = $(this).data("url");
		console.log(url);
		console.log($(this).val());
		console.log($("#toggle-select-color").val());
		$.ajax({
			url: url,
			method: "POST",
			dataType: "json",
			data: {
				size: $(this).val(),
				color: $("#toggle-select-color").val()
			},
			success: function(data){
				console.log(data["current_quantity"])
				$("#variant-current-quantity").html(data["current_quantity"]);
				var colors = data["colors"];
				var sizes = data["sizes"];
				var current_color = data["current_color"];
				var current_size = data["current_size"];
				// $("#toggle-select-color").children().each(function(index){

				// 	$(this).prop("disabled", false);

				// 	if ($(this).val() != "" && $(this).val() == current_color) {
				// 		$(this).replaceWith('<option selected="selected" value=' + current_color + '>' + current_color + '</option>');
				// 	}

				// 	var results = colors.indexOf($(this).val());

				// 	console.log( index + $(this).val());

				// 	if (index != 0 && results == -1) {
				// 		$(this).attr('disabled', 'disabled');
				// 	}

				// });

				$("#toggle-select-size").children().each(function(index){

					$(this).prop("disabled", false);

					if ($(this).val() != "" && $(this).val() == current_size) {
						$(this).replaceWith('<option selected="selected" value=' + current_size + '>' + current_size + '</option>');
					}

					var results = sizes.indexOf($(this).val());

					if (index != 0 && results == -1) {
						$(this).attr('disabled', 'disabled');
					}
				});
			}
		});
	});

	// var quantityElement = $("#quantity");
	// function incrementValue(e) {
	// 	quantityElement.text(Math.max(parseInt(quantityElement.text()) + e.data.increment, 0));
	// 	return false;
	// }

	$("#quantity-minus").on("click", function(){
		var num = parseInt($("#quantity").val()) - 1;
		var min = 0;
		if (num > min) {
			$("#quantity").val(num);	
		}
	})

	$("#quantity-plus").on("click", function(){
		var num = parseInt($("#quantity").val()) + 1;
		var max = parseInt($("#variant-current-quantity").text()) + 1;
		if (num < max) {
			$("#quantity").val(num);	
		}
	})

</script>
=
