<%= render :partial => "shop_header" %>

<div class="product-container">
	<div class="col-md-6 product-images">
		<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
	        <div class='carousel-inner'>
				<% if @photos.present? %>
					<% @photos.each_with_index do |photo, index| %>
						<% if index == 0 %>
							<%= image_tag(photo.image.medium.url, class: "item active") %>
						<% else %>
							<%= image_tag(photo.image.medium.url, class: "item") %>
						<% end %>
					<% end %>
				<% else %>
					<%= image_tag("http://placehold.it/400x510&text=No Pic", class: "item") %>
				<% end %>
	        </div>
            
	        <!-- sag sol -->
	        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
	            <span class='glyphicon glyphicon-chevron-left'></span>
	        </a>
	        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
	            <span class='glyphicon glyphicon-chevron-right'></span>
	        </a>

	        <ol class='carousel-indicators mCustomScrollbar meartlab'>
	        	<% if @photos.present? %>
	        		<% @photos.each_with_index do |photo, index| %>
	        			<% if photo.image.present? %>
	        				<% if index == 0 %>
								<li data-target="#carousel-custom" data-slide-to="<%= index %>" class="active">
		        					<%= image_tag(photo.image.small.url) %>
		        				</li>
	        				<% else %>
	        					<li data-target="#carousel-custom" data-slide-to="<%= index %>">
		        					<%= image_tag(photo.image.small.url) %>
		        				</li>
	        				<% end %>

	        			<% else %>
	        				<%= image_tag("http://placehold.it/400x400&text=No Pic") %>
	        			<% end %>
	        		<% end %>

				<% else %>
					<%= image_tag("http://placehold.it/400x400&text=No Pic") %>
				<% end %>
	    	</ol>
		</div>

	</div>
	<div class="col-md-6" id="product-detail-group">
		<h2><%= @product.title %></h2>
		<div class="product price"> $ <%= @product.price %></div>
		<div style="height: 100px;">
			<p>
				<%= @product.description %>
			</p>
		</div>
		<%= fa_icon "heart-o" %> 21
<!-- 		<h2>颜色</h2>
		<ul class="nav nav-pills">
			<li role="presentation" class="active"><a href="#">灰色</a></li>
			<li role="presentation"><a href="#">红色</a></li>
			<li role="presentation"><a href="#">黑色</a></li>
		</ul> -->
		<div class="form-group">
			<label for="sel1">颜色</label>
			<select id="sel1" class="form-control">
				<option>灰色</option>
				<option>红色</option>
				<option>黄色</option>
				<option>蓝色</option>
				<option>紫色</option>
			</select>

			<label for="sel2">尺寸选择</label>
			<select id="sel2" class="form-control">
				<option>1岁 - 100元</option>
				<option>2岁 - 200元</option>
				<option>3岁 - 230元</option>
				<option>4岁 - 260元</option>
				<option>5岁 - 260元</option>
			</select>

			<label for="sel3">数量</label>
			<select id="sel3" class="form-control">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>
		
		<% if @product.quantity.present? && @product.quantity > 0 %>
			<%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger btn-lg") %>
		<% else %>
			已销售一空，无法购买
		<% end %>
		<br>
		<br>
		<a href="#">加入收藏夹</a>
	</div>
</div>

<div class="col-md-12 row" style="display: block;" id="customer-review-group">
	<h2 style="align:">买家评论(0)</h2>
	<div class="pull-right">
		<%= link_to("撰写评论", "#", class: "btn btn-default") %>
	</div>
</div>

<!-- <div class="row">
	<h2>你也许喜欢</h2>

</div> -->



=
