
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="col-md-5">
			<div class="col-md-4">
				<%= link_to("课程", '/welcome/fix') %>
			</div>
			<div class="col-md-4">
				<%= link_to("哲思录", '/welcome/fix') %>
			</div>
			<div class="col-md-4">
				<%= link_to("商城", products_path(type: girl_category)) %>
			</div>
		</div>
		<div class="col-md-2" id="web-head-title">
			<%= link_to("美哲宝", '/', class: "h1") %>
		</div>
		<div class="col-md-5">
			<div class="col-md-4">
				<% if !current_user %>
					<%= link_to("登入", new_user_registration_path) %>
				<% else %>
					<div class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							宝妈 宝爸
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<% if current_user.admin? %>
								<li><%= link_to("Admin Panel", admin_products_path) %></li>
							<% end %>
							<li><%= link_to(content_tag(:i, '注销', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
						</ul>
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to("关于", new_welcome_path) %>
			</div>
			<div class="col-md-4">
				<%= link_to carts_path do %>
					<span class="badge" id="cart_item_count"><%= current_cart.products.count %></span> <i class="fa fa-shopping-cart"></i>
				<% end %>
			</div>
		</div>
	</div>
</nav>
